In [1]:
#Python libraries we may need
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from datetime import timedelta
import numpy as np

In [2]:
#upload the original database df
with open('hot-100_data.pkl', 'rb') as f:
        df = pickle.load(f)

In [3]:
#we check the database
df

,artist,title,isnew,rank,date
0,Lewis Capaldi,Someone You Loved,False,1,2019-11-16
1,Post Malone,Circles,False,2,2019-11-16
2,Shawn Mendes & Camila Cabello,Senorita,False,3,2019-11-16
3,Lizzo,Truth Hurts,False,4,2019-11-16
4,Selena Gomez,Lose You To Love Me,False,5,2019-11-16
...,...,...,...,...,...
113195,Rockell,In A Dream,False,96,1998-03-21
113196,Daryle Singletary,The Note,False,97,1998-03-21
113197,Kim Sanders,Jealousy,False,98,1998-03-21
113198,Shania Twain,Don't Be Stupid (You Know I Love You),False,99,1998-03-21
113199,Reba McEntire,What If,False,100,1998-03-21

In [ ]:
# add features numberofappearances, best rank and first rank for each song
#we also count the number of songs each artist placed on the Hot 100 and Hot 10 before releasing the song 
df["numberofappearances"]=0
df["bestrank"]=0
df["firstrank"]=0
df["numberofappearances_artist"]=0
df["numberofappearances_artist_top10"]=0
for i in range(len(df)):
    title=df.title.loc[i]
    artist=df.artist.loc[i]
    date=df.date.loc[i]
    new_df=df[df["artist"] == artist][df["title"] == title][df["date"] <= date]
    table=new_df[new_df.artist==artist]
    table=table[table.title==title]
    df["numberofappearances"].loc[i]=len(table)
    df["bestrank"].loc[i]=table["rank"].min()
    df["firstrank"].loc[i]=table["rank"].iloc[-1]

In [68]:
#creation of new_df, which aggregates df by artist

artists=df.artist.unique()
nb_songs=[]
new_df=pd.DataFrame()
new_df["artist"]=artists
for i in range(len(artists)):
    songs=len(df[df.artist==artists[i]].title.unique())
    nb_songs.append(songs)

In [70]:
new_df["numberofsongs"]=nb_songs

In [152]:
#number of top 10 reached by each artist

top=[]
for i in range(len(artists)):
    top_10=0
    song=df[df.artist==artists[i]].title.unique()
    for i in range(len(song)):
        if df[df.title==song[i]].bestrank.min() < 11:
            top_10=top_10+1
    top.append(top_10)

In [158]:
#Best rank ever reached by each artist

bestrank=[]
for i in range(len(artists)):
    rank=df[df.artist==artists[i]].bestrank.min()
    bestrank.append(rank)
new_df["bestrankever"]=bestrank

In [162]:
#number of top 50 reached by each artist

top_50=[]
for i in range(len(artists)):
    top=0
    song=df[df.artist==artists[i]].title.unique()
    for i in range(len(song)):
        if df[df.title==song[i]].bestrank.min() < 51:
            top=top+1
    top_50.append(top)
new_df["numberoftop50"]=top_50

In [165]:
#number of top 75 reached by each artist

top_75=[]
for i in range(len(artists)):
    top=0
    song=df[df.artist==artists[i]].title.unique()
    for i in range(len(song)):
        if df[df.title==song[i]].bestrank.min() < 76:
            top=top+1
    top_75.append(top)
new_df["numberoftop75"]=top_75

In [167]:
#number of top 25 reached by each artist

top_25=[]
for i in range(len(artists)):
    top=0
    song=df[df.artist==artists[i]].title.unique()
    for i in range(len(song)):
        if df[df.title==song[i]].bestrank.min() < 26:
            top=top+1
    top_25.append(top)
new_df["numberoftop25"]=top_25

In [279]:
#number of weeks with at least one song in the Billboard Top 100

weeks=[]
for i in range(len(artists)):
    week=0
    week=len(df[df.artist==artists[i]].date.unique())
    weeks.append(week)
new_df["numberofweeks"]=weeks

In [281]:
new_df

,artist,numberofsongs,numberoftop10,bestrankever,numberoftop50,numberoftop75,numberoftop25,numberofweeks
0,Lewis Capaldi,1,1,1,1,1,1,26
1,Post Malone,26,4,2,20,25,13,141
2,Shawn Mendes & Camila Cabello,2,1,1,2,2,2,40
3,Lizzo,3,2,1,2,2,2,27
4,Selena Gomez,12,7,1,11,12,9,155
...,...,...,...,...,...,...,...,...
3925,Fruit De La Passion,1,0,91,0,0,0,2
3926,Mic Geronimo Featuring DMX & Black Rob,1,0,86,0,0,0,2
3927,Richard Marx & Donna Lewis,1,0,69,0,1,0,1
3928,Phajja,1,0,93,0,0,0,1
3929,Sting & The Police,1,0,95,0,0,0,1

In [487]:
#to clean our dataset, we compute the median time for a song to reach the top 10 

datetimeFormat = '%Y-%m-%d'
times=[]
top10=df[df["rank"]<11]
artists_top10=top10.artist.unique()
for artist in artists_top10:
    titles_top10=top10[times_top10["artist"]==artist].title.unique()
    for title in titles_top10:
        date1=df[df.title==title][df["artist"]==artist][df["rank"]<11].date.min()
        date2=df[df.title==title][df["artist"]==artist].date.min()
        diff=date1-date2
        diff= diff.days
        times.append(diff)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

In [492]:
avg_time_to_top10=np.median(times)/7 #6 weeks!